:root {
    --primary-color: #dad6c7ab;
    --secondary-color: #000000;
    --accent-color:  #3e3f3f;
    --hover-accent-color: #292929;
    --white: #fff;
    --colors: #06b1b1;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: var(--primary-color);
}

nav {
    height: 60px;
    width: 100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--accent-color);
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: var(--white);
}

li a:hover {
    background-color: var(--hover-accent-color);
}

.menu {
    height: 60px;
    display: flex;
    justify-content: center;
}

#home-dropdown, #away-dropdown, .play {
    min-width: 100px;
    border-radius: 1em;
    margin: 0 1em;
    background-color: var(--accent-color);
    color: var(--white);
    font-size: larger;
    cursor: pointer;
}

.play {
    text-align: center;
}

.dice {
    max-height: 60px;
}

#die1, #die2 {
    height: 60px;
}

#home-dropdown:hover, #away-dropdown:hover, .play:hover {
    background-color: var(--hover-accent-color);
}

.team-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.team-selection {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.homeLineup, .awayLineup, .rosterLineup {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.rosterLineup {
    display: flex;
    flex-direction: column;
}

#homeTeamImg, #awayTeamImg {
    height: 150px;
}

.homeLineup img, .awayLineup img {
    height: 200px;
    margin: 5px;
    cursor: pointer;
}

.rosterCards {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
}

#rosterTeamImg {
    height: 200px;
}

.rosterLineup img {
    height: 200px;
    margin: 5px;
    cursor: pointer;
}

/* Styling for gallery view */
.full-img {
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.gallery-images {
    display: flex;
}

.full-img img {
    height: 500px;
    max-width: 500px;
    margin: .5em;
}

.full-img span {
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}

#fullStats {
    background-image: url(images/backside.jpg);
    background-size: cover;
    max-height: 500px;
    width: 350px;
    display: none;
    margin-top: 8px;
}

.player-stats {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.player-stats h2 {
    justify-content: center;
}

.player-stats h2, .player-stats p {
    margin: 10px 0;
}






/* Responsive screen for phones */
@media only screen and (max-width: 600px) {
    nav ul li {
        float: none;
    }

    .play-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 180px;
    }

    .menu {
        height: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #home-dropdown, #away-dropdown, .play {
        min-width: 250px;
        border-radius: 1em;
        margin: 5px 1em;
        text-align: center;
    }

    .team-container {
        flex-direction: column;
        width: 100%;
    }

    h2 {
        font-size: medium;
    }

    .teamsLineup {
        display: flex;
        justify-content: center;
        margin-top: 4em;
    }

    #homeTeamImg, #awayTeamImg {
        height: 100px;
    }

    .homeLineup, .awayLineup, .rosterLineup {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 10px 5px;
    }

    .homeLineup img, .awayLineup img {
        height: 200px;
    }

    .rosterCards {
        display: grid;
        grid-template-columns: auto auto;
    }

    #rosterTeamImg {
        height: 200px;
    }

    .rosterLineup img {
        height: 200px;
        margin: 5px;
        cursor: pointer;
    }

    table {
        margin-left: 160px;
        margin-right: 20px;
    }

    .tableName {

    }

    .tableStats {

    }

    th, td {

    }

    
    /* Styling for gallery view */
    .full-img {
        width: 100%;
        background: rgba(0,0,0,0.9);
        position: fixed;
        display: none;
        align-items: center;
        justify-content: center;
        z-index: 3;
    }

    .gallery-images {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60%;
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .full-img img {
        height: 350px;
        margin: 1em;
    }

    .full-img span {
        position: absolute;
        top: 5%;
        right: 5%;
        font-size: 30px;
        color: #fff;
        cursor: pointer;
    }

    #fullStats {
        background-image: url(images/backside.jpg);
        background-size: cover;
        height: 350px;
        width: 250px;
        margin-bottom: 1em;
        display: none;
    }

    .player-stats {
        display: flex;
        flex-direction: column;
        margin: 20px;
    }

    .player-stats h2 {
        justify-content: center;
    }

    .player-stats h2, .player-stats p {
        margin: 10px 0;
    }

}