/* Roster Table */
table {
    border-collapse: collapse;
    width: 100%;
}

tr {
    width: 100%;
}

td, th {
    border: 1px solid #cccccc;
    padding: 8px;
}

th {
    background-color: var(--accent-color);
    color: var(--primary-color);
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

tr:hover {
    background-color: #bbbbbb;
    color: white;
}


@media only screen and (max-width: 600px) {
    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 15px;
        font-size: 8px;
    }

    td, th {
        border: 1px solid #cccccc;
        padding: 8px;
        vertical-align: top;
        text-align: left;
    }

    th {
        background-color: var(--accent-color);
        color: var(--primary-color);
        font-weight: bold;
        text-transform: uppercase;
        max-width: 55px;
        text-overflow:ellipsis;
        cursor: pointer;
    }

    tr {
        margin-bottom: 10px;
    }
}
